<div id="footer">
    <div class="container">
        <hr />
        <p>A Project Of</p>
        <div>
            <ul class="founders">
                <li>
                    <img style="max-width:35px;max-height:35px;" src="{{ 'assets/images/small bally.png'|theme }}">
                    <span>Rachel Pfeiffer</span> <a target="_blank" href="https://yourwebelf.com">https://yourwebelf.com</a>
                </li>
            </ul>
        </div>
        <p class="muted credit">&copy; {{ "now"|date("Y") }} Rachel Pfeiffer</p>
    </div>
</div>
