[menu]
menu_id = 1
==
<?php
function onStart()
{
    $str = jdtojewish(gregoriantojd( date('m'), date('d'), date('Y')), true, CAL_JEWISH_ADD_GERESHAYIM); // for today
    $str1 = iconv ('WINDOWS-1255', 'UTF-8', $str); 
    $this['hebrewdate'] = $str1;

}
?>
==
<!-- Nav -->
<nav id="layout-nav" class="navbar-autohide" role="navigation">
    <div class="navbar topbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ 'home'|page }}"></a>
            </div>
            <a class="login-top button" href="#">Login/Register</a>    
        </div>
        <div class="collapse navbar-inverse navbar-collapse navbar-main-collapse">
            {% component "menu" selected_item=this.page.title|lower selected_item_class="active" %}
        </div>
        <div class="navbar bottombar">
            <div class="col-xs-8">
                <span>{{hebrewdate}} | {{ "now"|date("M jS, Y") }}</span>
            </div>
            <div class="col-xs-4 searchholder">
                {% component 'searchbox' %}
            </div>
        </div>
</nav>
<div class="section dedication text-center container-fluid m-t-sm">
    <p>Today's learning is dedicated to the number of sufganiyot I have eaten this Chanukah.</p>
</div>