title = "Home"
url = "/"
layout = "default"
description = "Torah of all types - articles, inspiration, halacha, letters from gedolim."
meta_title = "Torah Anytype - Home"
is_hidden = 0

[slider]
slide_show_id = 1

[article]
category = "Chanukah"

[searchbox]
==
<?php
use rachelpfeiffer\articles\models\Articles;
use Carbon\Carbon;


function onStart()
{
    $today = Carbon::today();
    $this['listarticles'] = Articles::where('date','<',$today)->get();
}
?>
==
<div class="section breadcrumb container-fluid">
    <div class="row">Home</div>
</div>
<div class="section featured container-fluid p-t-0">
    <div class="row m-t-sm ">
        <div class="col-lg-8 p-l-0">
            {% component 'slider' slide_show_id = 1 %}
        </div>
        <div class="col-lg-4 lecture-list">
            <div class="row">
                <div class="col-xs-3 bold text-center border-light-tab"><a href="#">Recent</a></div>
                <div class="col-xs-3 bold text-center bg-secondary border-light-tab"><a href="#">Watching</a></div>
                <div class="col-xs-3 bold text-center bg-secondary border-light-tab"><a href="#">Following</a></div>
                <div class="col-xs-3 bold text-center bg-secondary border-light-bottom"><a href="#">Popular</a></div>
            </div>
            <div class="row border-light-bottom border-light-right border-light-left">
                <p class="secondary text-center bold uppercase m-t-sm">
                    articles added in last 7 days
                </p>
                <ul class="list-inline lecture-info">
                    {% for i in 0..3 %}
                        <li>
                            <p class="h4 m-b-0">{{ listarticles[i].title }}</p>
                                <div class=" col-xs-6 m-t-0 p-l-0 secondary"><a class="secondary" href="{{ 'author'|page({author: listarticles[i].author}) }}">{{ listarticles[i].author }}</a></div>
                                <div class=" col-xs-6 text-right p-r-sm m-t-0">{{ listarticles[i].date|date("M jS, Y") }}</div>
                            <p class="inline light m-b-0">English</p>
                            {{ listarticles[i].category }}
                            <p class="inline p-l-md m-r-sm pull-right m-b-0">
                                {% if listarticles[i].content|length > 0 %}
                                <a href="{{ 'single_article'|page({id: listarticles[i].id}) }}">Read Online</a> |
                                {% endif %}

                               {% if listarticles[i].pdf.path|length > 0 %}
                                <a href="{{ listarticles[i].pdf.path }}">Download PDF</a>
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="section maintopic m-t-md">
    {% component 'article' category="Chanukah" %}
</div>
<div class="section topicsliders">
    <div class="row">
    <div class="col-sm-8">
        {% component 'article' category="Bereishis" %}
    </div>
    <div class="col-sm-4 p-t-md">
        <div class="sidebar"> Here's the other side</div>
    </div>
    </div>
</div>